# git config --global core.excludesfile ~/.gitignore

.DS_Store
home/.vim/bundles

home/.config/ranger/*
!home/.config/ranger/rc.conf

home/.config/configstore
home/.config/gtk-2.0
home/.config/gh-update
home/.config/gh

home/.config/fish/fish_history
home/.config/fish/fish_variables
home/.config/fish/*.*
!home/.config/fish/config.fish
!home/.config/fish/Darwin.fish
!home/.config/fish/Linux.fish
!home/.config/fish/alias.fish
!home/.config/fish/host.fish

home/.config/fish/functions/*.*
!home/.config/fish/functions/fish_prompt.fish
!home/.config/fish/functions/fish_right_prompt.fish
!home/.config/fish/functions/tmux_colours.fish
!home/.config/fish/functions/commitcheck.fish
!home/.config/fish/functions/en_ja.fish
!home/.config/fish/functions/ja_en.fish
!home/.config/fish/functions/apk.fish
!home/.config/fish/functions/adb_fzf.fish
!home/.config/fish/functions/emulator_fzf.fish
!home/.config/fish/functions/sdkmanager_fzf.fish
!home/.config/fish/functions/magit.fish
!home/.config/fish/functions/giter.fish
!home/.config/fish/functions/giter_worktree.fish
!home/.config/fish/functions/fuzzy_file_commander.fish
!home/.config/fish/functions/fuzzy_directory_commander.fish

home/.config/fish/completions/*.*
!home/.config/fish/completions/homesick.fish
!home/.config/fish/completions/docker.fish
!home/.config/fish/completions/rustup.fish

home/.config/fish/conf.d/*.*
!home/.config/fish/conf.d/n.fish

home/.config/fisher
home/.config/karabiner/assets
home/.config/hub
home/.config/termtosvg
home/.config/gcloud
home/.config/yarn

home/.config/Code/User/*
!home/.config/Code/User/keybindings.json

home/.mitmproxy
!home/.mitmproxy/config.yaml

home/.atom/*
!home/.atom/*.cson

home/.tmux/plugins/tmux-*

home/.emacs.d/*
!home/.emacs.d/init.el

home/.android/*
!home/.android/packages.txt
!home/.android/repositories.cfg
!home/.android/studio.vmoptions

home/.newsboat/*
!home/.newsboat/urls
!home/.newsboat/config
