# git config --global core.excludesfile ~/.gitignore

.DS_Store
home/.vim/*
home/.config/ranger
home/.config/configstore
home/.config/gtk-2.0
home/.config/fish/fish_history
home/.config/fish/*.*
!home/.config/fish/config.fish
!home/.config/fish/Darwin.fish
!home/.config/fish/alias.fish
!home/.config/fish/host.fish


