[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.bin/adb-peco"]
	path = home/.bin/adb-peco
	url = https://github.com/tomorrowkey/adb-peco.git
