[user]
  name = ogaclejapan
  email = ogaclejapan@gmail.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[alias]
  a = add
  ap = add -p
  br = branch
  ci = commit
  d = diff
  d1 = diff HEAD~
  d2 = diff HEAD~~
  d3 = diff HEAD~~~
  d4 = diff HEAD~~~~
  d5 = diff HEAD~~~~~
  dc = diff --cached
  dm = diff master
  l = log --oneline
  ll = log --stat
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  s = status -s
  st = status
  # Magit-style
  bb = checkout
  bc = checkout -b
  zz = stash save
  zp = stash pop
  # Other Command
  master = checkout master
  diet = !git branch --merged master | grep -vE \"^\\*|master$\" | xargs -I % git branch -d %
[gh]
  #host = your-github-enterprise
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[mergetool]
	keepBackup = false
[fetch]
	prune = true
[rebase]
	autosquash = true
	autostash = true
[giter]
  root = ~/git
  worktree = ~/git/worktree
[github]
	user = ogaclejapan
