[user]
  name = ogaclejapan
  email = ogaclejapan@gmail.com
  signingkey = 6AB770234A3873B2B3926E9AC21BF9035AE46144
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  pager = delta
[diff]
  # https://dandavison.github.io/delta/color-moved-support.html
  colorMoved = default
[alias]
  l = log --oneline
  st = status
  head = rev-parse HEAD
[gh]
  #host = your-github-enterprise
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[mergetool]
  keepBackup = false
[fetch]
  prune = true
[rebase]
  autosquash = true
  autostash = true
[giter]
  root = ~/git
  worktree = ~/git/worktree
[github]
  user = ogaclejapan
[commit]
  verbose = true
  template = ~/.gittemplates/commit
  gpgsign = true
[pull]
  rebase = true
[delta]
  navigate = true
  dark = true
  line-numbers = true
  side-by-side = true
  syntax-theme = Monokai Extended Bright
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictStyle = zdiff3
[safe]
  directory = ~/git
