"*":
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "7bfffbfe-0fd0-f413-c49b-bfc859999772"
  welcome:
    showOnStartup: false
